/* src/index.css */
body, html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: var(--background-color);
    color: var(--primary-color);
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
}

nav ul li a:hover {
    text-decoration: underline;
}

button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

:root {
    --primary-color: #254b3c;
    --secondary-color: #6c757d;
    --background-color: #f0f2f5;
}

